<h1>Employee Tracker</h1>

<p>Add a division</p>
<form action="/division" method="post">
  <label for="name">Division Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add division</button>
</form>








<p>Add an employee</p>
<form action="/employee" method="post">
  <label for="name">Employee Name:</label>
  <input id="name" name="name" type="text">
  <label for="division_id">Select division</label>
  <select id="division_id" name="division_id" type="text">
    <% @divisions.each() do |division| %>
      <option value="<%= division.id() %>"> <%= division.name() %> </option>
    <% end %>
  </select>

  <button type="submit">Add employee</button>
</form>
